<!DOCTYPE html>

<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
		<link href="webjars/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
		
		<!-- TODO: move to webpack -->
		<script type="text/javascript" src="webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		
		<!-- user scripts -->
		<script type="text/javascript" src="js/client.app.js"></script>
		<script type="text/javascript">
			var INITIAL_DATA = <%-data%>;			
		</script>
	</head>
	
	<body id="content">
		<%-ReactDOMServer.renderToString(React.createElement(App,{data:JSON.parse(data)})) %>
	</body>
	
	
</html>