<!DOCTYPE html>

<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="style/client.css">
		<script type="text/javascript" src="js/client.app.js"></script>
		
		<script type="text/javascript">
			var STATE = <%-state%>;
		</script>
	</head>
	
	<body id="content">
		<%- renderedHTML %>
	</body>
</html>
