<!DOCTYPE html>

<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title th:text="${title}"></title>
		
		<!-- webjars -->
		<script type="text/javascript" th:src="@{/webjars/react/15.3.1/react.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/react/15.3.1/react-dom.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
		
		<!-- user scripts -->
		<script type="text/javascript" th:src="@{js/UserBox.js}"></script>
		<script type="text/javascript" th:src="@{js/RenderClient.js}"></script>
	</head>

	<body>
	
	<script th:inline="javascript">

      /*<![CDATA[*/
		$(function () {
			var user = /*[[${users}]]*/;
			renderClient(user);
		});
		
       /*]]>*/
	</script>
		
	<div id="content"></div>
	
	</body>

</html>